[user]
  name = Jack Brown
  email = jack@brownjohnf.com
  signingkey = 6E0082093C897759
[color]
	ui = true
[github]
  user = brownjohnf
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%aE>%Creset' --abbrev-commit --abbrev=8
[push]
	default = current
	followTags = true
[core]
	excludesfile = ~/.gitignore
	commentChar = auto
	pager = delta
[pull]
	rebase = true
	default = current
	followTags = true
[diff]
	colorMoved = default
[delta]
	line-numbers = true
	side-by-side = true
	theme = Dracula
