[user]
	name = John (Jack) Brown
	email = jackb@tune.com
[color]
	ui = true
[github]
	user = hasJackb
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%aN>%Creset' --abbrev-commit
[push]
	default = current
